.project_container{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

/*---- left content ----*/

.left_project_container{
    background: #00BABA;
    height: 100vh;
    width: 50vw;
}

.head{
    display: flex;
    margin: 20px;
}

.jei,.depot{
    color: #FBFBFB;
    font-weight: bold;
}

.head_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_in_project_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #FBFBFB;
    margin: 10px;
    padding: 0px 10px;
}

.jei{
    margin: -20px auto -10px;
    padding: 0px;
    font-size: 3rem;
}

.praktikum{
    color: #fbfbfb;
    font-size: 0.7rem;
    font-weight: bold;
}

.depot{
    font-size: 2.5rem;
    margin: -5px auto -5px;
}

.step{
    font-weight: bold;

}

.list_step{
    margin: 5rem 5rem 50px 20px;
}

.list_step ul{
    margin: 0px;
    padding: 0px;
}

.list_step li{
    list-style: none;
    display: flex;
    color: #FBFBFB;
    margin: 2rem 0px;
}

.list_step li div{
    margin: 0px 50px 0px 10px
}


/*---- left content ----*/

.right_project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBFBFB;
    height: 100vh;
    width: 50vw;
    padding: 30px 10px;
}

.right_project_container h4{
    font-weight: bold;
    margin-bottom: 50px;
}

.list_service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 20px;
}

.service{
    display: flex;
    align-items: center;
    width: 20vw;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 5px var(--text-color);
}

.list_service .icon_service{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22C0C1;
    color: var(--text-color);
    height: 100%;
    width: 3rem;
}

.service p{
    margin: 0px;
    padding: 10px;
    font-weight: lighter;
    width: 100%;
}

