section{
    height: 100vh;
    color: white;
    z-index: 2;
}

.acceuil_bg{
    background-image: url("../../../assets/images/row-of-young-adults-at-work.jpg");
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    z-index: 2;
}

.acceuil{
    color: #F6F6F6;
    text-shadow: 0px 0px 20px #010304;
}

.info_bg{
    background: #F6F6F6;
    color: var(--text-color);
    z-index: 2;
}

.carriere_bg{
    background: #DCEBF5;
    z-index: 2;
}


.nous_soutenir_bg{
    background-color: #DCDEF5;
    z-index: 2;
}

