:root{
    --bg_color-service : rgba(0, 0, 255, 0);
}

.intro_container{
    display: flex;
    align-items: center;
}

.left_content_service{
    display: flex;
    align-items: center;
    background-color: var(--bg_color-service);
    height: 100vh;
}

.right_content_service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image_service{
    width: 80%;
    height: auto;
}
p{
    text-align: justify;
}


.contenu_intro_service{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--bg_color-service);
    padding: 25px;
}

.container-bouton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

