.navigation,.nav_link,.nav_link ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 100px;
}

.navigation{
    justify-content: space-around;
}

.navigation a{
    text-decoration: none;
    color: #FBFBFB;
    padding: 0px 10px;
}

.logo{
    font-weight: bold;
    font-size: 28px;
}

.about{
    position: absolute;
    display: flex;
    flex-direction: row;
    animation: fadeIn 1s;
}

.about div{
    border-bottom: 1px solid #FBFBFB;
}

.about:last-child{
    border-bottom: 0px solid white ;
}

.nav_link button{
    border: none;
    background: transparent;
    color: #FBFBFB;
    padding: 0px 10px;
}

.nav_list ul{
    margin: 0px;
    padding: 0px;
}

.block{
    display: block;
}

.none{
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.button{
    display: flex;
    align-items: center;
    height: 50px;
}

.connexion{
    background-color: #CF8B15;
    border: 1px solid #CF8B15;
    border-radius: 10px;
}