.navigation-container{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
.navigation-container a{
    text-decoration: none;
    color: #fbfbfb;
    display: block;
    padding: .5rem .6rem;

}
.logo-container{
    min-width: 100px;
}
.logo-container a {
    color: #fbfbfb;
}
.nav_list {
    display: flex;
    align-items: center;
}
.nav_link{
    display: flex;
}
.connection{
    display: flex;
    margin-left: 2em;
}